$button-bg: white;
%button {

    display: inline-block;
    padding: $half-spacing $base-spacing;
    width: auto;
    vertical-align: middle;
    @include font-size($base-font-size);
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
    background: $white;
    border: 1px solid $border;


    &:hover,
    &:focus {
        background: #ECECEC;
        outline: 0;
    }

    &:active {
        background: $white;
    }

    + .button,
    + a {
        margin-left: $half-spacing;
    }
}

.button {
    @extend %button;

    span {
        color: $grey;
    }
}

.menu-button {

    @extend %button;
    width: 100%;

    span {
        color: $grey;
    }
}

.section-button {

    @extend %button;
    text-align: left;

    span {
        color: $grey;
    }

    &.active {
        font-weight: 700;
    }
}

.menu-close {

    color: $grey;
    background: darken($button-bg, 2%);

    @include media-query(min, $desk-start) {
        display: none;
    }
}
