.main {
    background: $body-bg;
    @extend .clearfix;
}

.main-section {

    display: none;
    background: $white;
    padding: $base-spacing;
    border: 1px solid $border;

    &.active {
        display: block;
    }
}

.content {

    padding: $half-spacing;
    @include media-query(min, $desk-start) {
        float: left;
        width: 75%;
        padding-left: 0;
    }
}

